*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: cornflowerblue;
  user-select: none;
}

.liveScore {
  position: fixed;
  z-index: 10;
  color: white;
  font-size: 1.6rem;
  padding: 1.6rem;
  letter-spacing: 1px;
  display: none;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* UI Start and Restart Game */

.ui {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url("./img/startScreenBackground.png") no-repeat;
  background-size: contain;
  z-index: 10;
  display: grid;
  place-content: center;
  text-align: center;
}

.ui__content {
  display: grid;
  gap: 8rem;
}

.ui__headline {
  color: white;
  font-size: 6.4rem;
  margin-bottom: 8rem;
}

.ui__btn--container {
  position: relative;
  display: inline-block;
}

.ui__btn {
  cursor: pointer;
}

.ui__btn--text {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.restartScreen {
  display: none;
}

.finalScore {
  color: white;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.sound {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.6rem;
  z-index: 20;
}

.sound__off {
  color: white;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  display: none;
}

.sound__on {
  color: white;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
